@media (min-width: 577px) and (max-width: 768px) {
  .box-review {
    padding: 0 10px;
  }
  .css-17lz5un-MuiLinearProgress-root {
    width: 38vw !important;
  }
}

@media (max-width: 576px) {
  .box-review {
    padding: 0 10px;
  }
  .css-17lz5un-MuiLinearProgress-root {
    width: 23vw !important;
  }
}
