@media (min-width: 769px) {
  .res {
    display: none;
  }
  .min-w-\[718px\] {
    min-width: 59vw;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .min-w-\[718px\] {
    min-width: 514px;
}
  .res {
    position: relative;
    &-header {
      background-color: #d70018;
      color: #fff;
      margin: 0;
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 100vw;
      padding: 0 15px;
    }
    &-back,
    &-center {
      color: #fff;
    }
    &-user {
      color: #fff;
      font-size: 20px;
      border: 1px solid #fff;
      padding: 0 10px;
      border-radius: 11px;
    }
    &-content {
      padding: 0 15px;
    }
    &-total-price {
      position: fixed;
      bottom: 5px;
      width: 100%;
      z-index: 1;
    }
    &-none {
      display: none;
    }
    &-info-order {
      max-height: 100%;
    }
    &-restore-password,
    &-btn {
      width: 100vw;
    }
    .input-group {
      margin-right: 16px;
      margin-left: 17px;
    }
    .capcha {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    &-item {
      max-height: 100%;
    }
  }
}

@media (max-width: 576px) {
  .res {
    position: relative;
    &-header {
      background-color: #d70018;
      color: #fff;
      margin: 0;
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 100vw;
      padding: 0 15px;
    }
    &-back,
    &-center {
      color: #fff;
    }
    &-user {
      color: #fff;
      font-size: 20px;
      border: 1px solid #fff;
      padding: 0 10px;
      border-radius: 11px;
    }
    &-content {
      padding: 0 15px;
    }
    &-total-price {
      position: fixed;
      bottom: 5px;
      width: 100%;
      z-index: 1;
    }
    &-item {
      max-height: 100%;
    }
    &-none {
      display: none;
    }
    &-info-order {
      max-height: 100%;
    }
    &-restore-password,
    &-btn {
      width: 100vw;
    }
  }
  .restore-password {
    width: 100vw;
  }
  .input-group {
    margin-right: 16px;
    margin-left: 17px;
  }
  .capcha {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
