.chart{

  color: white;
  flex: 5 ;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 20em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title{
    font-weight: bold;
    color: rgb(205, 166, 36);
    font-size: 15px;
  }

}